<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="Weekl" connectionString="Data Source=(localdb)\v13.0;Database=Weekl;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />   
    <!--<add name="Weekl" connectionString="Data Source=tcp:81.177.141.24,1433;Database=Weekl;Persist Security Info=True;User ID=myredsocks;Password=123qwe;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="NLog.Extended" />
    </extensions>
    <targets async="true">
      <target name="File" xsi:type="File" fileName="${basedir}/Logs/log-${date:format=dd-MM-yyyy}.txt" layout="Date: ${longdate}${newline}Message: ${message}${newline}Exception: ${exception}${newline}StackTrace: ${stacktrace}${newline}" />
      <target name="Console" xsi:type="Console" layout="${message}" />
      <target name="Database" xsi:type="Database" connectionStringName="Weekl" commandType="StoredProcedure" commandText="[LOG].[EntryAdd]">
        <parameter name="@machineName"    layout="${machinename}" />
        <parameter name="@siteName"       layout="${iis-site-name}" />
        <parameter name="@logged"         layout="${date}" />
        <parameter name="@level"          layout="${level}" />
        <parameter name="@username"       layout="${aspnet-user-identity}" />
        <parameter name="@message"        layout="${message}" />
        <parameter name="@logger"         layout="${logger}" />
        <parameter name="@properties"     layout="${all-event-properties:separator=|}" />
        <parameter name="@serverName"     layout="${aspnet-request:serverVariable=SERVER_NAME}" />
        <parameter name="@port"           layout="${aspnet-request:serverVariable=SERVER_PORT}" />
        <parameter name="@url"            layout="${aspnet-request:serverVariable=HTTP_URL}" />
        <parameter name="@https"          layout="${when:inner=1:when='${aspnet-request:serverVariable=HTTPS}' == 'on'}${when:inner=0:when='${aspnet-request:serverVariable=HTTPS}' != 'on'}" />
        <parameter name="@serverAddress"  layout="${aspnet-request:serverVariable=LOCAL_ADDR}" />
        <parameter name="@remoteAddress"  layout="${aspnet-request:serverVariable=REMOTE_ADDR}:${aspnet-request:serverVariable=REMOTE_PORT}" />
        <parameter name="@callSite"       layout="${callsite}" />
        <parameter name="@exception"      layout="${exception:tostring}" />
      </target>
    </targets>
    <rules>
      <logger name="*" levels="Debug,Error,Info" writeTo="Database" />
      <logger name="*" levels="Warn, Info, Debug, Trace" writeTo="Console" />
      <logger name="*" minlevel="Trace" writeTo="TcpOutlet" />
      <logger name="*" minlevel="Error" writeTo="TcpOutlet" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.1.0" newVersion="1.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>