
@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';

.card .card-text img {
    width: 100%!important;
    height: 100%!important;
    margin-bottom: 10px;
}

.card-placeholder-body {
    height: 215px;
    overflow: hidden;
    background: #000;
    position: relative;
    
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: placeholderAnimate;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1400px 104px;
    
    & > div {
        width: 100%;
        height: 10px;
        position: absolute;
        background: #fff;
        z-index: 2;
        
        &:after,
        &:before {
            width: inherit;
            height: inherit;
            content: '';
            position: absolute;
        }
        
        &:nth-child(1) {
            top: 0px;
            left: 95%;
        }
        
        &:nth-child(2) {
            top: 10px;
            left: 0;
        }
        
        &:nth-child(3) {
            top: 20px;
            left: 80%;
        }
        
        &:nth-child(4) {
            top: 30px;
            left: 0;
            height: 15px;
        }
        
        &:nth-child(5) {
            top: 45px;
            left: 99%;
        }
        
        &:nth-child(6) {
            top: 55px;
            left: 0;
        }
        
        &:nth-child(7) {
            top: 75px;
            left: 0;
        }
        
        &:nth-child(8) {
            top: 85px;
            left: 90%;
        }
        
        &:nth-child(9) {
            top: 95px;
            left: 0;
        }

        &:nth-child(10) {
            top: 105px;
            left: 85%;
        }
        
        &:nth-child(11) {
            top: 115px;
            left: 0;
        }

        &:nth-child(12) {
            top: 125px;
            left: 90%;
        }
        
        &:nth-child(13) {
            top: 135px;
            left: 0;
        }

        &:nth-child(14) {
            top: 145px;
            left: 80%;
        }
        
        &:nth-child(15) {
            top: 155px;
            left: 0;
        }

        &:nth-child(16) {
            top: 165px;
            left: 95%;
        }
        
        &:nth-child(17) {
            top: 175px;
            left: 0;
        }

        &:nth-child(18) {
            top: 185px;
            left: 69%;
        }
        
        &:nth-child(19) {
            top: 195px;
            left: 0;
        }

        &:nth-child(20) {
            top: 205px;
            left: 10%;
            width: 82%;
        }
    }
}

.source-placeholder {
    width: 30%;
    height: 83px;
}

@keyframes placeholderAnimate {
    0%{ background-position: -468px 0; }
    100%{ background-position: 468px 0; }
}

.sidebar {
    position: fixed;
    display: none;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 999;

    &.open {
        display: block;
    }

    & > .container-fluid {
        height: 100%;
    }

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
        background-color: #000;
    }
}

.sidebar-open {
    overflow: hidden;
    margin-right: 17px;
}